<p>
  <b>Description:</b>
  <%= @todolist.description %>
</p>

<p>
  <b>User:</b>
  <%= @todolist.user.email %>
</p>

<p>
  <b>Priority:</b>
  <%= @todolist.priority %>
</p>


<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
