<p>
  <b>Description:</b>
  <%= @todolist.description %>
</p>

<p>
  <b>User:</b>
  <%= @todolist.user.email %>
</p>

<p>
  <b>Priority:</b>
  <%= @todolist.priority %>
</p>

<%= link_to 'Edit', edit_user_todolist_path(current_user, @todolist) %> |
<%= link_to 'Back', user_todolists_path %>
